[Unit]
Description=Internet Checker
After=network-online.target

[Service]
ExecStart=/usr/local/bin/internet-checker
Restart=always
User=nobody
Group=nogroup

[Install]
WantedBy=default.target
